$font-main: 'Nunito-sans', sans-serif;
$font-title: 'NEXT ART', sans-serif;

$white: #FFF;
$light: #FDFDFD;
$dark: #18121E; 
$accent: #F2BE22;
$bg-light: #F3F5F4;
$btn-bg: #1A3E3E;

$desctop: 1100px;
$tablet: 992px;
$tablet-sm: 760px;
$phone-bg: 574px;
$phone: 320px;
